.product-listing {
  background-color: #ffffff;
  width: 100%;
  color: black;
  font-weight: bold;
}

.product-listing-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

.product-listing-contain {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px 80px;
  border-radius: 14px;
  background: #708090;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 16px 5px #9a9a9a;
  box-shadow: 5px 5px 16px 5px #9a9a9a;
}

.product-listing-title {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Roboto, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #513e40;
}

.product-listing-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: Roboto, Helvetica, sans-serif;
}

.product-listing-item {
  margin-top: 6px;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 6px;
  padding-left: 10px;
  transition-delay: 250ms;
  border: none;
}

.product-listing-submit {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  transition-delay: 20ms;
  margin-top: 20px;
  font-weight: bold;
  font-family: Roboto, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.product-listing-submit:hover {
  background-color: #d7dbe0;
  color: black;
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  color: #ffffff;
  font-family: Roboto, Helvetica, sans-serif;
}

.product-grid-picture {
  width: 300px;
  object-fit: contain;
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
}

.product-grid-span {
}

.product-grid-text {
  display: inline-block;
  margin-right: 40px;
}

.product-grid-title {
  display: flex;
  text-align: center;
}

.product-grid-ref {
  text-decoration: none;
  display: inline-block;
}
