.error {
  background-color: #ffffff;
  width: 100%;
  color: #83c9f4;
}

.error-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-title {
  font-size: 28px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.error-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30%;
  width: 30%;
}

.error-button {
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.error-button:hover {
  color: #a3d5ff;
}