@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url(../../Assets/fonts/BebasNeue.ttf) format("opentype");
}

.topbar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  font-family: "Bebas";
  font-size: 24px;
}

.topbar-left {
  display: flex;
  align-items: center;
  margin-left: 6%;
  cursor: pointer;
}

.topbar-right {
  display: flex;
  align-items: center;
  margin-right: 6%;
}

.topbar-item {
  margin: 20px;
  cursor: grab;
}
