*:focus {
  outline: none;
} /* *:focus */

.shop {
  background-color: #ffffff;
  width: 100%;
  color: black;
  font-weight: bold;
} /* .shop */

.shop-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
} /* .shop-container */

.shop-listing-item {
  background-color: white;
  color: black;
  padding: 9px 10px;
  padding-left: 10px;
  transition-delay: 250ms;
  border-radius: 6px;
  border: 1px solid #808080;
  display: inline-block;
  margin-right: 10px;
} /* .shop-listing-item */

.shop-toolbar {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
} /* .shop-toolbar */

.shop-toolbar-content {
  border-radius: 8px;
  text-decoration: none;
  color: black;
  display: inline-block;
} /* .shop-toolbar-content */

.shop-toolbar-content:hover {
  background-color: black;
  color: white;
} /* .shop-toolbar-content:hover */

.shop-clear-filter {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-left: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #808080;
  cursor: pointer;
} /* .shop-clear-filter */

.shop-clear-filter:hover {
  background-color: black;
  color: white;
} /* .shop-clear-filter */

.shop-loading {
  position: absolute;
  top: 46%;
  left: 46%;
} /* .shop-loading */

.shop-toolbar-span {
  display: flex;
  align-items: center;
} /* .shop-toolbar-span */

.shop-searchbar {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #808080;
  margin-right: 20px;
} /* .shop-searchbar */

.shop-search {
  border: none;
  margin-right: 20px;
} /* .shop-search */